<div class="card">
  <a class="text-decoration-none" [routerLink]="['/products', product.id]">
    <img
      class="object-fit-contain card-img-top"
      (error)="onImageError($event)"
      [src]="product.images[0]"
      [alt]="product.title"
    />
  </a>
  <div class="card-body lh-sm">
    <a class="text-decoration-none" [routerLink]="['/products', product.id]">
      <h5 class="card-text text-dark"> {{ product.price|currency }}  </h5>
    </a>
    <h6 class="card-title text-secondary" style="font-weight: 400">
      {{ product.title }}
    </h6>
  </div>
  <div class="card-footer text-center bg-transparent border-0 mb-2">
    <a href="#" class="text-decoration-none text-dark w-100 mt-auto"
      ><i class="bi bi-cart2"></i> Add to cart</a
    >
  </div>
</div>
