<div class="card">
  <a class="text-decoration-none" [routerLink]="['/products', 1]">
    <img
      src="https://dummyimage.com/600x400/000/fff"
      class="object-fit-contain card-img-top"
      alt="..."
    />
  </a>
  <div class="card-body lh-sm">
    <a class="text-decoration-none" [routerLink]="['/products', 1]">
      <h5 class="card-text text-dark">$99,000</h5>
    </a>
    <h6 class="card-title text-secondary" style="font-weight: 400">
      Product's name
    </h6>
  </div>
  <div class="card-footer text-center bg-transparent border-0 mb-2">
    <a href="#" class="text-decoration-none text-dark w-100 mt-auto"
      ><i class="bi bi-cart2"></i> Add to cart</a
    >
  </div>
</div>
