<div class="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button text-bg-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Categories
      </button>
    </h2>
    <div
      id="collapseOne"
      class="text-bg-white accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <ul class="p-0" style="list-style-type: none">
          <li>
            <a
              class="text-capitalize text-decoration-none text-bg-white"
              role="button"
              (click)="categorySelected.emit(null)"
              >all</a
            >
          </li>
          <li *ngFor="let category of categories">
            <a
              class="text-capitalize text-decoration-none text-bg-white"
              role="button"
              (click)="categorySelected.emit(category)"
              >{{ category.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button text-bg-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsePrice"
        aria-expanded="true"
        aria-controls="collapsePrice"
      >
        Price
      </button>
    </h2>
    <div
      id="collapsePrice"
      class="text-bg-white accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="d-flex gap-2">
          <div>
            <p class="mb-0">Min</p>

            <input type="number" class="form-control form-control-sm" />
            <label class="form-label" for="typeNumber">$0</label>
          </div>
          <div>
            <p class="mb-0">Max</p>
            <input type="number" class="form-control form-control-sm" />
            <label class="form-label" for="typeNumber">$10,000</label>
          </div>
        </div>
        <button type="button" class="btn border text-bg-light w-100">
          apply
        </button>
      </div>
    </div>
  </div>
</div>
